!!! 5
html(land="en")
  head
    title Pollocator - Find a polling station near you

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(type='text/javascript', src='/js/quo.js')
    script(type='text/javascript', src='/js/moment.min.js')

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div#container.fluid.header
      section#responsive
        div.row-fluid
          div#header.span12
            h2 Poll Locator for U.S. General Election
        div.row-fluid.box1
          div#addr.span12.offset2.content.control-group
            div.controls
              div.span8
                input.input-xxlarge.address(type='text', name='address', placeholder='Enter your home address')
        div.row-fluid.box1
          div.span12.offset2
            div.span8
              button.btn.btn-primary(type='submit') Check
        div.row-fluid.box2
          div#list.span12.offset2.content
            div.span8.listItems
            table.table
              tbody
        div.row-fluid.box2
          div.span12.offset2.content
            div.span8.back
        div.row-fluid.box3
          div.span12.offset2.content
            div.span8.questions
        div.row-fluid.box4
          div.span12.offset2.content
            div.span8.contestants

    script
      $$(document).ready(function(){
        $$('.btn').on('tap', clickHandler);
        
        function clickHandler(evt) {
          evt.preventDefault();

          $$('div#addr').removeClass('error');
          $$('input.address').on('focus', function() {
            $$('div#addr').removeClass('error');
            $$('input.address').off('focus');
          });

          var addr = $$('input.address').val();
          $$.post('/poll', {address: addr}, function(data) {
            if (!data.error) {
              $$('div.box1').hide();
              
              var t = '';
              var time, time_label;
              var li = $$('div.listItems');
              if (data.earlyVoteSites) {
                data.earlyVoteSites.forEach(function(loc, i) {
                  time = makeTime(data.date, loc.pollingHours);
                  if ('start' in time) time_label = ' - Start '+time.start;
                  else if ('end' in time) time_label = ' - End '+time.end;
                  else if ('close' in time) time_label = ' - Closed '+time.close;

                  t = "<h6>Early voting available at - "+formatLocation(loc) +
                  time_label +"</h6>";
                  li.append(t);
                });              
              }

              t = '', time = '', time_label = '', b = '';
              data.pollingLocations.forEach(function(loc, i) {
                time = makeTime(data.date, loc.pollingHours);
                if ('start' in time) time_label = ' - Start '+time.start;
                else if ('end' in time) time_label = ' - End '+time.end;
                else if ('close' in time) time_label = ' - Closed '+time.close;

                t = "<h6>" + formatLocation(loc) +
                time_label +"</h6>";
                li.append(t);
              });

              $$('div.back').append("<span><a class='back_link' href='#'>Go Back</a></span>");
              $$('a.back_link').on('tap', function() {
                $$('input.address').val('');
                $$('input.address').attr('placeholder', 'Enter your home address')
                $$('div.box2').hide();
                $$('div.box1').show();
                $$('div.listItems').empty();
                $$('div.back').empty();
                $$('a.back_link').off('tap');
              });

              $$('div.box2').show();
            } else {
              $$('div#addr').addClass('error');
              $$('input.address').val('').attr('placeholder', data.error);
            }
          });
        };

        function makeTime(d, t) {
          var time = t.split('-');
          var startTime = time[0] ? time[0] : "08:00:00";
          var endTime = time[1] ? time[1] : "17:00:00";

          var today = moment(new Date()); 
          var electionStartDate = moment(d+'T'+startTime, "YYYY-MM-DDTHH:mm:ss");
          //var today = moment("2012-11-06T10:30:00", "YYYY-MM-DDTHH:mm:ss");
          var electionEndDate = moment(d+'T'+endTime, "YYYY-MM-DDTHH:mm:ss");

          if (today.diff(electionStartDate) < 0) {
            return {start: electionStartDate.from(today)+" ("+electionStartDate.format('h:mmA')+" - "+electionEndDate.format('h:mmA')+")"} 
            //now is earlier than the start date of election
          }
          if (today.diff(electionEndDate) > 0) {
            return {close: electionEndDate.from(today)+" ("+electionEndDate.format('h:mmA')+")"}
          }
          if (today.diff(electionStartDate) > 0) {
            return {end: electionEndDate.from(today)+" ("+electionEndDate.format('h:mmA')+")"} 
            //now is later than the start date of election
          }
        }

        function formatLocation(location) {
          var loc = [], l;
          var keys = Object.keys(location.address);

          keys.forEach(function(key) {
            l = toCamelCase(location.address[key]);
            loc.push(l);
          });
          loc.pop(); //remove zip
          loc.pop(); //remove state
          return loc.join(' ');

          function toCamelCase(text) {
            var words = text.split(' ');
            var x, w, z=[];
            for (var i=0; i<words.length; i++) {
              x = words[i].toLowerCase().split('');
              x[0] = x[0].toUpperCase();
              w = x.join('');
              z.push(w);
            }
            return z.join(' ');
          }
        }
      });